*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
/Migrations/**
*.dll
*.1
*.vsidx
*.vsidx
*.v2
*.vsidx
.vs/**
ResumeModuleApp/Migrations/**
ResumeModuleApp/obj/**
ResumeModuleApp/bin/**

*.props
ResumeModuleApp/obj/Debug/net6.0/**
